
/* COLORS: http://www.colourlovers.com/palette/292482/Terra */

$background_color: #CCB8A9;
$menu_background_color: #031634;
$menu_color: #FFF;
$article_background_color: #E8DDCB;
$link_color: #036564;



body {
    background: $background_color;
    margin: 0;
    padding: 0;
}


header {
    background: $menu_background_color;

    ul {
        list-style-type: disc;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            a {
                color: $menu_color;
                display: inline-block;
                font-size: 18px;
                padding: 20px;
                text-decoration: none;
            }

            a:hover {
                color: $link_color;
            }
        }
    }
}


article {
    background: $article_background_color;
    border-radius: 8px;
    margin: 25px auto;
    padding: 50px 25px;
    width: 90%;
}

img {
    width: 100%;
}
